.rmm-container {
  position: relative;
}
.rmm-editor {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  border: none;
  resize: none;
}

.rmm-list {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
}
.rmm-list-item {
  padding: 4px 12px;
  word-wrap: no-wrap;
}
.rmm-list-item-selected {
  background: #eee;
}